

{% extends 'base.html' %}
{% load static %}
{% block title %}Портфолио{% endblock %}
{% block meta %}Посмотрите и оцените наши работы.{% endblock %}
{% block content %}
<!-- Portfolio-->
<section class="our-portfolio layout-4 padding-top-100 page-branding">
   <div class="box-content-wrap">
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <div class="group-content">
                  <div class="group-title group-title-1 style-3">
                     <h2 class="main-title">Наше <span>портфолио</span> <span class="dot"></span> <span class="mute-title">Работы</span></h2>
                  </div>
                  <div class="group-wrapper">
                     <div class="group-filter filter-button-group"><a href="javascript:;" data-filter="*" class="filter-item active">Все</a><a href="javascript:;" data-filter=".shop" class="filter-item">Интернет-магазины</a><a href="javascript:;" data-filter=".visit" class="filter-item">Сайт визитка</a><a href="javascript:;" data-filter=".coop" class="filter-item">Корпоративные</a><a href="javascript:;" data-filter=".service" class="filter-item">Сервисы</a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="clearfix"></div>
   </div>
   <div class="gallery-masonry-isotope" style="position: relative; height: 595px;">
      <div class="grid-sizer"></div>
      <div class="grid-item">
         {% for item in portfolio_list %}
         <div class="content-grid-item item-width-50-responsive item-width-16 item-height-97 print-ads {{item.position}}" >
            <div class="inner">
               <div class="pic">
                  <a href="{% url 'portfolio:portfolio_detail' slug=item.slug %}" data-fancybox-group="gallery" class="fancybox"><img src="{{item.thumb.url}}" alt="{{item.title}}" class="img-responsive"><span class="dh-overlay"></span></a>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
</section>
<!-- What we do (what-we-do-1)-->
<section class="what-we-do layout-5 padding-top-100 padding-bottom-100 page-branding">
   <div class="box-content-wrap">
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <div class="group-content">
                  <div class="group-title group-title-1 style-3">
                     <h2 class="main-title">Что <span>мы можем для</span>  вас сделать <span class="mute-title">Умеем</span></h2>
                  </div>
                  <div class="what-we-do-wrapper">
                     <div class="row group-list">
                        {% for item in whatwedo %}
                        <div class="col-sm-3">
                           <div data-wow-delay="0.2s" class="box-media layout-5 wow fadeIn" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                              <div class="box-media-wrapper">
                                 <div class="box-icon"><a href="{{item.link}}" class="icons"><i class="{{item.icon}}"></i></a></div>
                                 <div class="box-info">
                                    <a href="{{item.link}}" class="title">{{item.title}}</a>
                                    <div class="text">{{item.body|safe}}</div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        {% endfor %}
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="clearfix"></div>
      </div>
   </div>
</section>

{%endblock%}

