<section class="contact layout-1">
   <div class="container">
      <div class="row banner">
         <div class="col-sm-4 banner-right">
            <div class="group-title group-title-3">
               <h2 class="main-title">Напишите  <span>нам</span> <span class="dot"></span> <span class="mute-title">Написать</span></h2>
            </div>
         </div>
         <div class="col-sm-8 banner-left">
            <div class="banner-content">
               <div class="title">Давайте работать <span>над новыми проектами</span> вместе!</div>
               <form action="/feedback/" id='feedback' class="form-contact" method="post" enctype="multipart/form-data">
                   {% csrf_token %}
                  <div class="form-group">
                     <input type="text" placeholder="Имя" name="name" maxlength="200" required id="id_name" class="form-control">
                  </div>
                  <div class="form-group">
                     <input type="text" placeholder="Ваш телефон, пример: +79281112233" name="phone" maxlength="12" required id="id_phone"  class="form-control">
                  </div>
                  <div class="form-group">
                     <textarea rows="5" placeholder="Комментарий" name="message" cols="40" required id="id_message"  class="form-control"></textarea>
                  </div>

                   <input type="submit" class="btn btn-primary" value="Отправить">
               </form>
            </div>
         </div>
      </div>
   </div>
</section>
