<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Обратная связь</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <form action="/feedback/" id='feedback' class="form-contact" method="POST" enctype="multipart/form-data">
                   {% csrf_token %}
                     <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Ваше имя:</label>
                        <input type="text" class="form-control" required name="name" id="id_name">
                     </div>
                     <div class="form-group">
                        <label for="phone" class="col-form-label">Телефон:</label>
                        <input type="text" class="form-control" required name="phone" id="id_phone">
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <input type="submit" class="btn btn-primary" value="Отправить">
                     </div>
                  </form>
               </div>
               
            </div>
         </div>
      </div>
