{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% block title %}{{page.pre_title}}{% endblock %}
{% block meta %}{{page.description}}{% endblock %}
{% block content %}
<section class="page-title layout-7 page-sourcecode">
   <div class="page-title-wrapper">
      <div class="page-title-content">
         <div class="container">
            <div class="box-content">
               <div class="box-img"><img src="{{page.img.url}}" alt="" class="img-responsive"></div>
            </div>
            <div class="group-content">
               <div class="group-title group-title-1 group-heading">
                  <h1 class="main-title">{{page.title}} <span class="dot"></span></h1>
                  <ol class="breadcrumb">
                     <li><a href="/">Главная</a></li>
                     <li class="active">{{page.title}}</li>
                  </ol>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="source-code padding-top-100 padding-bottom-100">
   <div class="container">
      <div class="block-header-wrapper">
         <div class="row">
            <div class="col-sm-12">
               <div class="block-header-inner padding-bottom-100">
                  <div class="post-titles">
                  </div>
                  <div class="text">{{page.body|safe}}</div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<div id="what_blocks">
<div class="b1 block"><a class="open_popup_block" href="#">Логотип и краткое описание вашей компании</a></div>

<div class="b2 block"><a class="open_popup_block" href="#">Картинка, которая дает понять посетителю куда он попал</a></div>

<div class="b3 block"><a class="open_popup_block" href="#">Самые яркие и выгодные товарные предложения</a></div>

<div class="b4 block"><a class="open_popup_block" href="#">Конкурентные преимущества или гарантии</a></div>

<div class="b5 block"><a class="open_popup_block" href="#">Полный список контактов</a></div>

<div class="b6 block"><a class="open_popup_block" href="#">Контакты для связи с вами</a></div>

<div class="b7 block"><a class="open_popup_block" href="#">Призыв отправить заявку или заказать звонок</a></div>

<div class="b8 block"><a class="open_popup_block" href="#">Акция с ограничением по времени или количеству</a></div>

<div class="b9 block"><a class="open_popup_block" href="#">Отзывы ваших клиентов</a></div>

<div class="b10 block"><a class="open_popup_block" href="#">Удобная форма заказа</a></div>

<div id="left_block"><!-- <a href="/forms/callback" class="button big2 open_popup">Заказать лендинг</a> --></div>

<div id="right_block"><!-- <a href="/forms/callback" class="button big2 open_popup">Заказать лендинг</a> --></div>
</div>
<!-- Get In Touch - 2-->
{% include 'page/feedback_form.html'%}
{%endblock%}