{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% block title %}{{page.pre_title}}{% endblock %}
{% block meta %}{{page.description}}{% endblock %}
{% block content %}
<div class="page-404">
                            <div class="container">
                                <div class="wrapper-404">
                                    <div class="title-404">
                                        <h1>PAGE NOT FOUND</h1>
                                        <div class="group-btn-404"><a href="index.html" class="btn btn-404 btn-404-home"><span>Back to Home </span></a><a href="javascript:window.history.go(-1)" class="btn btn-404 btn-404-help"><span>Get back</span></a>
                                            <!--img.img-responsive.img-404(src="assets/img/background/404.png")-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
{%endblock%}